
/* Style the nav content to fit the right side of the screen and
    make sure the content resizes when the screen resolution changes */
nav ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-bottom: 2%;
}
/* give a slight margin to the links in the nav*/
nav ul li{
    margin-right: 2%;
}
/* Remove underline from the links in the nav */
nav ul li a{  
    color: inherit;  
    text-decoration: none;
}

section{
    border: solid, .5px;
}

body{
    font-family: arial;
}

/* setting default heights and margins for headers */
h1 {
    font-size: 200%;
}


h2 {
    margin: 2% 0;
    font-size: 180%;
}
  
h3, header {
    margin: 2% 0;
    font-size: 150%;
}

main{
    width: 100vw;
}

#About{
    height: 200px;
    width: 100%;
    display: flex;
    margin-bottom: 2%;
}

#About .FloatLeft {
    border-right: solid;
    flex: 0 0 25%;
    height: 100%;  
    text-align: right;
}

/* #AboutPgph{
    display: flex;
    flex: 0 0 60%;
    height: 60%;
    width: 100%;
} */

/* set the work section to be 600px with display property flex*/
#Work{
    height: 600px;
    width: 100%;
    display: flex;
}

/* set the floatleft id to be 25% of the width of the work ID with 100% of the height of the work id and align to the right as seen in the demo */
#Work .FloatLeft {
    border-right: solid;
    width: 25%;
    height: 100%;  
    text-align: right;
}

/* set the work pannels id section to have a width of 75% (the remainder of the screen) and flex direction of column, which allows the float left section and this section 
 to exist side by side and also allows for the subsequent sections to wrap below eachother when the width is defined */
#WorkPannels{
    flex-direction:column;
    flex-wrap: wrap;
    width: 75%;
}

/* as discussed in the acceptance criteria the first project should be larger than the others so it takes up 60% of the height of the workpannels section
    and has 100% of the width of the workpannels section (75% of the work section) */
#FirstProject{
    flex: 0 0 60%;
    height: 60%;
    width: 100%;
    display: flex;
    background-image: url('./img/space.png');
    background-size: cover; 
    background-position: center; 
}

/* this project grid section is used to display the additional four projects in a grid style below the first project using flex wrap and a height of the remaining
    40% of the workpannels section with a flexible layout that will adjust based on screen size */
#ProjectGrid{
    display: flex;
    flex-wrap: wrap;
    flex: 1; 
    height: 40%;
    /* width: 100%; */
}
/* the other projects class is used to set the height/width of the four remaining projects individually to 50% of the workpannels width (50% of 75% of the screen width) */
.OtherProjects{
    flex: 1 0 50%;
    height: 50%;
    display: flex;
}


#FirstProject .WorkDescriptions{
    border: solid;
    background-color: aqua;
    align-self: flex-end;
    margin-bottom: 2%;
    width: 175px;
} 

.OtherProjects .WorkDescriptions{
        border: solid;
        background-color: aqua;
        align-self: flex-end;
        margin-bottom: 2%;
        width: 175px;
} 

#Project2{ 
    background-image: url('./img/grass.png');
    background-size: cover; 
    background-position: center;    
}

#Project3{ 
    background-image: url('./img/leather.png');
    background-size: cover; 
    background-position: center;    
}


#Project4{ 
    background-image: url('./img/blue.png');
    background-size: cover; 
    background-position: center;    
}

#Project5{ 
    background-image: url('./img/red.png');
    background-size: cover; 
    background-position: center;    
}

#Contact{
    height: 200px;
    margin-top: 2%;
    border-left: solid;
    width: 100%;
    position: relative;
}

#Contact ul {  
    display: flex;
    justify-content: space-around;
}

#Contact ul li a{   
    height: 100%;   
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
} 